{% extends 'app/layout.html' %}

{% block content %}

<div class="page-header">
    <h1>Dataset: {{ dataset.name }}, Feature: {{ model_object.name }}</h1>
</div>

<div class="row">  
    <div class="col-4">
        {% include 'app/tree_side_bar.html' %}
    </div> <!-- End "col-4" -->

    <div class="col-8">
        {% include 'app/card_map.html' %}
        {% include 'app/table_feature_details.html' %}   
    </div> <!-- End "col-8" -->
</div>

{% endblock %}

{% block scripts %}

    {% include 'app/card_map_js.html' %}

{% endblock %}
