{% if user.is_authenticated %}

<!--<ul class="navbar-right">
    <li>
        <a href="/logout">
            <i class="flaticon-user"></i>Log Out</a>
    </li>
</ul>-->
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

</form>

{% else %}

<ul class="navbar-right">
    <li>
        <a href="{% url 'login' %}">
            <i class="flaticon-user"></i>Log In</a>
    </li>
</ul>

{% endif %}
