{% extends 'app/layout.html' %}

{% block content %}

<div class="page-header">
    <h2>Dataset: {{ dataset.name }}, Feature: {{ model_object.name }}</h2>
</div>

<div class="row">  
    <div class="col-4">
        {% include 'app/tree_side_bar.html' %}
    </div> <!-- End "col-4" -->

    <div class="col-8">
        <div class="card radius-0">
            <div class="card-header">
                <h2 class="section-title">Map</h2>
            </div>
            <div class="card-block">
                <div id="map" class="map"></div>
                <div id="popup" class="ol-popup">
                    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                    <div id="popup-content"></div>
                </div>
            </div>
        </div> <!-- End "map card" -->
    
    
        <div class="card radius-0 space-top-3">
            <div class="card-header">
                <h2 class="section-title">Properties</h2>
            </div>
            <!-- Editing functions -->
            <div class="card-block">
                <form class="details-search">
                    <input class="form-control" placeholder="Search..." type="text">
                </form>
                <div class="functions-edit">
                    <a href="{% url 'create_property' model_object.id %}" class="btn btn-secondary" role="button"><i class="flaticon-add"></i>Add new property</a>
                    <a href="#" class="btn btn-secondary" role="button"><i class="flaticon-download"></i>Import</a>
                    <a href="#" class="btn btn-secondary" role="button"><i class="flaticon-share-1"></i>Share</a>
                    <a href="#" class="btn btn-secondary" role="button"><i class="flaticon-garbage-2"></i>Delete</a>
                </div>
                <div class="functions-public">
                    <a href="#" class="btn btn-secondary" role="button">Personal</a></li>
                    <span>|</span></li>
                    <a href="#" class="btn btn-secondary" role="button">Public</a></li>
                </div>
            </div> <!-- End Editing functions -->
            <div class="table-responsive">
                <table class="table table-striped">
                <thead>
                    <tr>
                    <th>Property name</th>
                    <th>Property type</th>
                    <th>Value type</th>
                    <th>Start time</th>
                    <th>Interval</th>
                    <th>Number of values</th>
                    </tr>
                </thead>
                <tbody>
                {% for property in properties %}
                    <tr>
                    <td><a href="{% url 'property_details' property.id %}" class="active">{{ property.name }}</a></td>
                    <td>{{ property.property_type.property_type }}</td>
                    <td>{{ property.value_type.value_type }}</td>
                    <td>{{ property.timestart }}</td>
                    <td>{{ property.interval }}</td>
                    <td>{{ property.num_vals }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div> <!-- End "table-responsive" -->
        </div> <!-- End "table card" -->
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var acc = document.getElementsByClassName("accordion");
		var i;
		
		for (i = 0; i < acc.length; i++) {
				acc[i].onclick = function(){
						this.classList.toggle("active");
						this.nextElementSibling.classList.toggle("show");
			}
		}

    var container = document.getElementById('popup');
    var content_element = document.getElementById('popup-content');
    var closer = document.getElementById('popup-closer');

    var overlay = new ol.Overlay(/** @type {olx.OverlayOptions} */ ({
        element: container,
        autoPan: true,
        autoPanAnimation: {
        duration: 250
        }
    }));

    closer.onclick = function() {
        overlay.setPosition(undefined);
        closer.blur();
        return false;
    };

    var map = new ol.Map({
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        target: 'map',
        overlays: [overlay],
        controls: ol.control.defaults({
            attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
                collapsible: false
            })
        }),
        view: new ol.View({
        center: [0, 0],
        zoom: 1
        })
    });
    
   
    var geojson_layer = new ol.layer.Vector({
        source: new ol.source.Vector({
            url: '/api/geojson-object/' + "{{ model_object.id }}",
            format: new ol.format.GeoJSON()
        })
    });

    geojson_layer.getSource().on("change", function(evt) {
        extent = geojson_layer.getSource().getExtent();
        map.getView().fit(extent, map.getSize());
    });
    

    map.addLayer(geojson_layer)


    map.on('singleclick', function(evt) {
        var coordinate = evt.coordinate;
        var feature = map.forEachFeatureAtPixel(evt.pixel,
        function(feature, layer) {
            return feature;
        });
        if (feature) {
            var content = '<h5><strong>Name: </strong>'+ feature.get('name') + '</h5>';
            content += '<h5><strong>Type: </strong>'+ feature.get('object_type') + '</h5>';
            content += '<h5><strong>Dataset ID: </strong>'+ feature.get('dataset_id') + '</h5>';
            
            content_element.innerHTML = content;
            overlay.setPosition(coordinate);

        }
    });
</script>

{% endblock scripts %}
