{% extends 'app/layout.html' %}

{% block content %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-3">
            <div id="treeview"></div>
        </div>
        <div class="col-sm-7">
            {% if descr is not none %}
                <h4><strong>Overview: </strong>{{ descr }}</h4>
            {% endif %}
            {% if value is not none %}
                <h4><strong>Value: </strong>{{ value }}</h4>
            {% endif %}
            {% if controls is not none %}
                {{ controls|safe }}
            {% endif %}
            {% if raster_map is not none %}
                <div class="panel panel-default" style="width: 580px">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#mappanel">Map view</a>
                        </h4>
                    </div>
                    <div id="mappanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ raster_map|safe }}        
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if table is not none %}
                <div class="panel panel-default" style="width: 580px">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#tablepanel">Table view</a>
                        </h4>
                    </div>
                    <div id="tablepanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ table|safe }}        
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if plot is not none %}
                <div class="panel panel-default" style="width: 580px">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#plotpanel">Plot view</a>
                        </h4>
                    </div>
                    <div id="plotpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ plot|safe }}        
                        </div>
                    </div>
                </div>
            {% endif %}
            <a href="#" class="btn btn-primary pull-left">Edit
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="col-sm-2">
            {% include 'app/card_property.html' %}
            {% include 'app/card_model_object.html' %}
            {% include 'app/card_dataset.html' %}
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

    {% include 'app/data_tree_js.html' %}
    {{ script|safe }}

{% endblock scripts %}
