<div class="sidebar">
    <h1 class="sidebar-title">Dataset - {{ dataset.name }}</h1>
    <ul class="nav-sidebar">
    <li class="active">
        <button class="accordion"><i class="flaticon-database-1"></i>object</button>
            <ul class="panel">
            <button class="accordion"><i class="flaticon-windows-1"></i>HANOI 4TH CITY URBAN RING (5)</button> 
            <ul class="panel subnav">                 
            <li><a href="#" class="active">Object 01</a></li>
            <li><a href="#">Object 02</a></li>
            <li><a href="#">Object 03</a></li>
            <li><a href="#">Object 04</a></li>
            <li><a href="#">Object 05</a></li>
            </ul>
            </ul>
    </li>
    <li>
        <button class="accordion"><i class="flaticon-database-1"></i>A Collection (1)</button>
            <ul class="panel">
            <button class="accordion"><i class="flaticon-windows-1"></i>Dataset 01 (3)</button> 
            <ul class="panel subnav">                 
            <li><a href="#" class="active">Object 01</a></li>
            <li><a href="#">Object 02</a></li>
            <li><a href="#">Object 03</a></li>
            </ul>
            </ul>
    </li>
    <li>
        <button class="accordion"><i class="flaticon-database-1"></i>B Collection (1)</button>
            <ul class="panel">
            <button class="accordion"><i class="flaticon-windows-1"></i>Dataset 02 (4)</button> 
            <ul class="panel subnav">                 
            <li><a href="#" class="active">Object 01</a></li>
            <li><a href="#">Object 02</a></li>
            <li><a href="#">Object 03</a></li>
            <li><a href="#">Object 04</a></li>
            </ul>
            </ul>
    </li>
    <li>
        <button class="accordion"><i class="flaticon-database-1"></i>C Collection (1)</button>
            <ul class="panel">
            <button class="accordion"><i class="flaticon-windows-1"></i>Dataset 03 (4)</button> 
            <ul class="panel subnav">                 
            <li><a href="#" class="active">Object 01</a></li>
            <li><a href="#">Object 02</a></li>
            <li><a href="#">Object 03</a></li>
            </ul>
            </ul>
    </li>
    </ul>
</div> <!-- End "sidebar" -->