<div class="sidebar">
    <h1 class="sidebar-title">Dataset content</h1>
    <ul class="nav-sidebar">
        <li class="active">
            <button class="accordion"><i class="flaticon-database-1"></i>{{ dataset.name }} collection ({{ dataset.model_objects.all|length }})</button>
            <ul class="panel">
                {% for object in dataset.model_objects.all %}
                    <button class="accordion"><i class="flaticon-windows-1"></i>{{ object.name }} ({{ object.properties.all|length }})</button> 
                    <ul class="panel subnav">
                        {% for property in object.properties.all %}              
                            <li><a href="{% url 'property_details' property.id %}" class="active">{{ property.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}  
            </ul>
        </li>
    </ul>
</div> <!-- End "sidebar" -->